@model Alx.Models.LocalPasswordModel

@using (Html.BeginForm("Manage", "Account"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div class="row">
        <div class="editor-label">
            <label>Current password</label>
        </div>
        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-lock"></i></span>
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", placeholder = "Current password" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="editor-label">
            <label>New password</label>
        </div>
        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-lock"></i></span>
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = "New password" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="editor-label">
            <label>Confirm new password</label>
        </div>
        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-lock"></i></span>
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm new password" })
            </div>
        </div>
    </div>
    <div class="row">
        &nbsp;
    </div>
    <div class="row">
        &nbsp;
    </div>
    <div class="row">
        <div class="col-md-8">
            <button type="submit" class="btn btn-default">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Change password
            </button>
        </div>
    </div>

}
